<div id="home">
  <div class="home container">
    <h1 class="brianhan">BRIAN HAN</h1>
    <h2>web developer &amp; designer</h2>
  </div>
</div>
<div id="hello">
  <div id="hello-koala">
    <div class="koala container">
      <div class="text"> 
        <h1>Hello</h1>
        <div class="paragraph">
          <small>(even if Starbucks insists that I should be called 'Broyan')</small>
          <p class="firstline">I'm Brian Han</p>
          
          <p>*</p>
          <p class="secondline">I develop &amp; design for the web.</p>
          <p>* *</p>
          <p>Born &amp; raised in toronto</p>
          <p>I continue to learn new technologies for building</p>
          <p>better, more beautiful user-experiences.</p>
          <p>* * *</p>
          <p>I got my start learning web development at Bitmaker Labs</p>
          <p>and now I'm making my way as a freelancer</p>
          <p>continuing to grow as a digital creative.</p>
        </div> 

        <%= image_tag 'instagram_broyan.jpg' %>
        <%= image_tag 'instagram_northyork2.jpg' %>
        <%= image_tag 'instagram_toronto.jpg' %>  
      </div>
    </div> 
  </div>
</div>
<div id="skills">
  <div id="my-skills">
    <div class="skills container">
      <h1>Skills</h1>
      <ul>
        <li><b class="htmlcss">HTML5 &amp; CSS3</b></li>
        <li><b class="photoshop">Photoshop</b></li>
        <li><b class="js">JavaScript</b></li>
        <li><b class="js">jQuery</b></li>
        <li><b class="js">AJAX</b></li>
        <li><b class="js">D3.js</b></li>
        <li><b class="ror">Ruby on Rails 3 &amp; 4</b></li>
        <li><b class="ror">Object Oriented Programming</b></li>
        <li><b class="agile">MVC frameworks</b></li>
        <li><b class="agile">Test driven Development</b></li>
        <li><b class="agile">Rspec</b></li>
        <li><b class="git">Git &amp; GitHub</b></li>
        <li><b class="video">Final Cut Pro 7</b></li>
        <li><b class="video">Premiere Pro</b></li>
      </ul>
    </div>
  </div>
</div>

<div id="contact">
  <div class="contact container">
    <h1>CONTACT</h1>
    <p>*</p>
    <p>+1 647 909 5759</p>
    <p>* *</p>
    <p>brianhan87usa@gmail.com</p>
    <p>* * * </p>
  </div>
  <ul class="links">
    <li><%= link_to "github", "https://github.com/brianhan87" %></li>
    <li><%= link_to "linkedin", "http://www.linkedin.com/pub/brian-han/2b/ba4/105" %></li>
    <li><%= link_to "twitter", "https://twitter.com/brianhan87" %></li>
    <li><a class="top" href="#home">^</a></li>
  </ul>
</div>

